<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: elProducto.name }) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">

		<%- include('partials/breadCrumbs') %>

		<div class="row">
			<div class="col-12">
				<h3><%= elProducto.name %></h3>
			</div>
		</div>
		<div class="product-detail">

			<div class="row">
				<div class="col-12 col-lg-8">
					<img src="/images/products/<%= (elProducto.image != undefined) ? elProducto.image : "default-image.png" %>" alt="product image" class="product-detail-img">
					<p class="product-detail-description">
						<%= elProducto.description %>
					</p>
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%= elProducto.name %></h2>

						<label for="color" class="form-label">Color:</label>
						<select name="color" id="color" class="form-input">
							<option value="">Elegí color</option>
							<option value="">Violeta</option>
							<option value="">Naranja</option>
							<option value="">Rojo</option>
							<option value="">Verde</option>
						</select>
						
						<label for="cantidad" class="form-label">Cantidad:</label>
						<input type="number" id="cantidad" name="cantidad" class="form-input">


						<p class="product-detail-price">
							$ <%= elProducto.price %>
						</p>

						<a href="#" class="buy-now-button">ANADIR AL CARRITO</a>

						

					</article>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>	
</html>