<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Mitoy'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>

  <div class="container products-wrapper">
    <div class="row">
      <div class="col-12">
        <h3>Contanos más de vos</h3>
      </div>
    </div>
    <div class="col-8">
      <form action="/users/edit-user/<%= elUsuario.id %>?_method=put" method="post" enctype="multipart/form-data" >
        <div class="row product-detail">

          <div class="col-12 col-md-12">
            <label for="text" class="form-label">Nombre y Apellido</label>
            <input type="text" value="<%= elUsuario.name %>" name="name" class="form-input" id="name" aria-describedby="name">
          </div>
  
          <div class="col-12 col-md-12">
            <label for="dni" class="form-label">DNI</label>
            <input type="number" value="<%= elUsuario.dni %>" name="dni" class="form-input" id="dni">
          </div>	

          <div class="col-12 col-md-12">
            <label for="phone" class="form-label">Telefono</label>
            <input type="number" value="<%= elUsuario.phone %>" name="phone" class="form-input" id="phone">
          </div>	
          
          <div class="col-12 col-md-12">
            <label for="street" class="form-label">Direccion</label>
            <input type="text" value="<%= elUsuario.street %>" name="street" class="form-input" id="street">
          </div>	
          <% 
          let selectMasculino ="";
          let selectFemenino ="";
          if (elUsuario.gender.trim() == "Masculino") { 
               selectMasculino = "selected";
          } else{
              selectMasculino = "";
          }
          %>
          <% if (elUsuario.gender.trim() == "Femenino") { 
             selectFemenino = "selected";
          } else{
            selectFemenino = "";
          }
          %>
          <div class="col-12 col-md-6">
            <label for="gender" class="form-label">Genero</label>
            <select name="gender" id="gender" class="form-input">
                <option value="-1">Elegí el Genero</option>
                <option value="Masculino" <%=selectMasculino%>>Masculino</option>
                <option value="Femenino" <%=selectFemenino%>>Femenino</option>
            </select>	
          </div>		       

          <!-- <div class="col-12 col-md-12">
						<label for="avatar" class="form-label">Avatar</label>
						<input type="file" id="avatar" name="avatar">
          </div>
  -->
          <div class="col-12">
            <button type="submit" class="buy-now-button">Guardar Usuario</button>
          </div>

        </div>
      </form>
    </div>

  </div>

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>